# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
# Ignoriing instance folder which contains sqlite database
instance/
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
